    body {
        background: #080808;
    }
    
    .header {
        width: 100%;
        height: 100vh;
       
    }
    
    .container {
        padding: 10px 10%;
        color: white;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .name {
        width: 600x;
        height: 350px;
        padding-right: 50px;
    }
    
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 24px;
        position: relative;
    }
    
    nav ul li a::after {
        content: '';
        width: 0%;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: -6px;
    
    }
    
    nav ul li a:hover::after {
        width: 100%;
        background-color: aqua;
    
    } /*add psuedo element to nav buttons*/
    
    .header-text {
        color: white;
        margin-top: 20%;
        font-size: 30px;
    }
    
    .header-text h1 {
        font-size: 60px;
        margin-top: 100px;
    }
    
    .header-text h1 span {
        color: red;
    }
    

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }/*to align my projects in protfolio*/
    
    .aboutcolumn1 {
        flex-basis: 35%;
    }
    .aboutcolumn1 img {
        width: 100%;
        border-radius: 15px;
    }
   
    .whoisjag {
        font-size: 40px;
        font-weight: bolder;
        padding-top: 100px;
    }
    
    .aboutmetext {
        font-weight: bold;
        font-size: 15px;
    }
    
    .Portfolio {
       
        display: flex;
        position: relative;
        font-size: 30px;
        padding-top: 100px;
        font-weight: bold;
        flex-direction: column;
        color: white;
    
       } /*to align my projects in protfolio*/
    
    
       .Portfolio p a {
        text-decoration: none;
        color: white;
    }
    
    p img {
        height: 200px;
       display: inline-flex;
    
    }
    
    .headername { 
        font-size: 40px;
        color: white;
        width: auto;
    
    }
    
    .Contact {
        font-size: 30px;
        font-weight: bold;
        padding-top: 150px;
        text-decoration: underline white;
        color: red;
    }
    
    .contactinfo {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 30px;
        text-decoration: underline white;
        color: red

        
    }
    
    @media only screen and (max-width: 600px) {
        .header-text {
            color: white;
            margin-top: 20%;
            font-size: 20px;
        }
        .header-text h1 span {
            color: red;
            font-size: 20px;
        }
        
    }
    
    
    